.search_input {
  border: 3px solid rgba(124, 124, 124, 0.66);
  border-radius: 15px;
  outline: none;
  width: 500px;
  height: 20px;
  font-size: 18px;
  padding: 8px 10px;
}
.search_input:hover {
  border: 3px solid rgba(16, 174, 185, 0.917);
}
.search_input:focus {
  border: 3px solid rgba(16, 174, 185, 0.917);
}
