.counter {
  display: flex;
  align-items: center;
  gap: 13px;
}
.counter button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  color: white;
  background: rgba(16, 174, 185, 0.917);
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter button img {
  width: 22px;
  height: 22px;
}
.counter span {
  font-size: 20px;
}
.disabledButton {
  opacity: 0.7;
  cursor: default !important;
}
