.cart_product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.366);
  box-sizing: border-box;
  padding: 10px;
}
.cart_product img {
  width: 56px;
  height: 56px;
  padding: 5px;
  border: 2px solid rgba(16, 174, 185, 0.917);
  background-repeat: 7px;
}
.cart_product_info{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.cart_product_title{
  width: 200px;
  font-size: 17px;
  text-align: center;
}